/* Work.css 
Experiences and work*/


.work {
  background-color: #ffffff;
  padding: 0px 30px;
  text-align: left;
}

.Work h1 {
  font-size: 100px;
  margin-top: 20px;
  font-family: Articulat CF, system-ui, sans-serif;
  font-weight: 600;
  margin-bottom: 10px;
}

.workbox1 {
  display : flex;
  background-color: #F9F9F9;
  height:300px;
  width:1000px;
  margin: 0 auto;
  border-radius: 40px;
  margin-top: 2rem;
}

.workbox2 {
  display :inline-block;
  background-color: #A5FF8E;
  height:300px;
  width:480px;
  border-radius: 40px;
}

.workbox3 {
  display:inline-block;
  background-color: #8EDDFF;
  height:300px;
  width:480px;
  border-radius: 40px;
  margin-left:2.6rem;
}

.parentbox {
  margin-left:16.3rem;
  margin-top:2rem;
}